<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2"><a href="#" class="logo">Garage<span class="text-danger"> V.Parrot</span></a></h2>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
            {% set horaires = datasH.findAll() %}
            <div class="col-md">
              <div class="ftco-footer-widget mb-4 ml-md-5">
                <h2 class="ftco-heading-2">Jour</h2>
                <ul class="list-unstyled">
                    {% for data in horaires %}
                        <li><a href="#" class="py-2 d-block">{{ data.jour }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-md">
               <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Heure d'ouverture</h2>
                <ul class="list-unstyled">
                    {% for data in horaires %}
                        <li><a href="#" class="py-2 px-4 d-block">{{ data.heureOuverture|date('H:i') }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                 <h2 class="ftco-heading-2">Heure de Fermeture</h2>
                 <ul class="list-unstyled">
                    {% for data in horaires %}
                        <li><a href="#" class="py-2 px-4 d-block">{{ data.heureFermeture|date('H:i') }}</a></li>
                    {% endfor %}
                 </ul>
               </div>
             </div>
            <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Vous avez des questions ?</h2>
                  <div class="block-23 mb-3">
                    <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">198 West 21th Street, Suite 721 New York NY 10016</span></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">+ 1235 2355 98</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">v_parrot@gmail.com</span></a></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
  
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script><i class="icon-heart color-danger" aria-hidden="true"></i>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>